<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <h1>Connexion</h1>

    <form method="post" action="{% url 'connexion' %}">
        {% csrf_token %}

        <div class="form-group">
            <p>Utilisateur</p>
            <input type="text" name="username" placeholder="Entrez votre nom" required>
        </div>

        <div class="form-group">
            <p>Mot de passe</p>
            <input type="password" name="password" placeholder="••••••••" required>
        </div>

        <button type="submit" class="btn-login">Se connecter</button>
    </form>

    <p><a href="{% url 'home' %}"> Voir en tantque visiteut</a></p>

    <div class="link-footer">
        <p>Pas encore de compte ? <a href="{% url 'inscription' %}">S'inscrire</a></p>
    </div>
</div>

</body>
</html>